<html>   
    <head>
        <title>One cube to rule them all</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
        <script src="http://leodirac.com/jquery.svg/jquery.svg.js"></script>
        <script type="text/javascript" src="http://leodirac.com/jquery.svg/jquery.svganim.js"></script> 
        <script type="text/javascript" src="http://leodirac.com/jquery.svg/jquery.svgdom.js"></script> 
        <script type="text/javascript" src="http://leodirac.com/jquery.svg/jquery.svgfilter.js"></script> 
        <script type="text/javascript" src="http://leodirac.com/jquery.svg/jquery.svggraph.js"></script> 
        <script type="text/javascript" src="http://leodirac.com/jquery.svg/jquery.svgplot.js"></script> 


<script type="text/javascript"> 
    // This code loads the hookbox.js from the current host but changing the port to 2974.
    // server = 'http://127.0.0.1:2974'; // hard-code from localhost
    server = location.protocol + '//' + location.hostname + ':2974';
    // Dynamically inserts the code to load the script into the page.
    document.write('<scr'+'ipt src="' + server + '/static/hookbox.js"></scr'+'ipt>');
</script>

            <script type="text/javascript">

// ####################################################################
// ######################## Configuration #############################
// ####################################################################

var INCLUDE_ARROWS = true;
var HOW_OFTEN_DISPLAY_FRAMERATE = 400;  // ms between updates
var RENDER_WITH_CANVAS = true;

/* SVG is an alternate way to render. It's not fully hooked up (no arrows, or input)
but does offer smooth blending between frames using jquery.animate.
It also renders vector-based when zooming on ipad/iphone although doesn't
seem to offer real performance benefits on that platform.
*/
var RENDER_WITH_SVG = false;
var SVG_ANIMATION_SPEED = 65;  // how many ms to blend color transitions over


// ####################################################################
// #################### Framerate calculation #########################
// ####################################################################

var frames_rendered=0;
var frame_cnt_reset_at = (new Date()).getTime(); // epoch time in ms

function display_framerate() {
    var now = (new Date()).getTime();
    var howlong_ms = now - frame_cnt_reset_at;
    var fps = frames_rendered * 1000 / howlong_ms;
    $('#framerate').html( Math.floor(fps*10) / 10 );

    // reset
    frames_rendered = 0;
    frame_cnt_reset_at = now;
}

$(document).ready(function() {
    setInterval( display_framerate, HOW_OFTEN_DISPLAY_FRAMERATE );
});



// ####################################################################
// ###################### jquery helpers ##############################
// ####################################################################


jQuery.fn.elementlocation = function() {
  var curleft = 0;
  var curtop = 0;
 
  var obj = this;
 
  do {
    curleft += obj.attr('offsetLeft');
    curtop += obj.attr('offsetTop');
 
    obj = obj.offsetParent();
  } while ( obj.attr('tagName') != 'BODY' );
 
 
  return ( {x:curleft, y:curtop} );
};


{% include "control.js" %}
{% include "vector.js" %}
{% include "render.js" %}

            </script>   
        </head>
    <body>
       <div id="svgholder"></div>

<script>
    var svg;
    if( RENDER_WITH_SVG ) {
        $(document).ready( function() {
            $('#svgholder').append('<h4>svg</h4><div id="svgdiv" style="width:300px; height:300px; background: black;"> </div>');
            $('#svgdiv').svg({onLoad: store_svg_obj});
        });
    }
    
    function store_svg_obj(new_svg) { 
        svg = new_svg;
    }


</script>


       <h4>canvas</h4>
       <canvas id="canvas" width="300" height="300"></canvas>   

       <div>
          Altitude: <input id="slide_alt" type="range" min="1" max="313" value="220" onchange="rotate_view();"><br/>
          Azimuth: <input id="slide_azi" type="range" min="0" max="628" value="233" onchange="rotate_view();"><br/>
       </div>
       <div>
       Framerate: <span id="framerate">...</span> fps
       </div>
    </body> 
</html>  


