{% extends "cube_base.html" %}

{% block top %}
			<div class="toprow" >
				<img class="bigbutton"   id="rookie"      src="/static/button_rookie.png"  alt="Rookie"  >
				<img class="bigbutton"   id="student"     src="/static/button_student.png" alt="Student" >
				<img class="bigbutton"   id="ninja"       src="/static/button_ninja.png"   alt="Ninja"   >
				<img class="bigbutton"   id="master"      src="/static/button_master.png"  alt="Master"  >
				<img class="bigbutton"   id="god"         src="/static/button_genius.png"  alt="Genius"     >
				<div class="clear"></div>
			</div>
{% endblock %}

{% block bottom %}
        <center>
          www.groovik.com
        </center>
{% endblock %}


