<!DOCTYPE html>

<html>
<head>
    <title>One cube to rule them all</title>
    <link href="/static/cube_style.css" rel="stylesheet" type="text/css">
    <link href="/static/panel.css" rel="stylesheet" type="text/css">
    <link href="static/jquery.ui191.css" media="all"  rel="stylesheet" type="text/css">

    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/jquery.svg.js"></script>
    <script src="/static/jquery.svganim.js" type="text/javascript"></script>
    <script src="/static/jquery.svgdom.js" type="text/javascript"></script>
    <script src="/static/jquery.svgfilter.js" type="text/javascript"></script>
    <script src="/static/jquery.svggraph.js" type="text/javascript"></script>
    <script src="/static/jquery.svgplot.js" type="text/javascript"></script>

    <script src="js/loadhookbox.js" type="text/javascript"></script>
    <script src="js/hookbox_setup.js" type="text/javascript"></script>
    <script src="js/checkie.js" type="text/javascript"></script>
    <script src="js/client_state.js" type="text/javascript"></script>
    <script src="js/control.js" type="text/javascript"></script>
    <script src="js/movefromsolved.js" type="text/javascript"></script>
    <script src="js/soundmanager2-nodebug-jsmin.js" type="text/javascript"></script>
    <script src="js/soundcontrol.js" type="text/javascript"></script>
    <script src="js/vector.js" type="text/javascript"></script>
    <script src="js/render.js" type="text/javascript"></script>
    <script src="js/cube_spinning.js" type="text/javascript"></script>
    <script src="js/timeouts.js" type="text/javascript"></script>
    <script src="js/menus.js" type="text/javascript"></script>
    <script src="js/numpad.js" type="text/javascript"></script>
    <script src="js/general.js" type="text/javascript"></script>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="container">
        <div id="svgholder">
            <canvas height="1100" id="canvas" width="1100"></canvas>
        </div>
        <img alt="Restart" class="button_restart" id="button_restart" onclick="goto_queued_screen();" ontouchstart="goto_queued_screen();" ondragstart="return false" src="/static/restart.png">
        <img alt="Restart" class="button_quit" id="button_quit" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" src="/static/quit.png">
        <img class="topborder" height="6" id="levelmenu_bgt" src="/static/line.png" width="2000">

        <div class="levelmenu_bg" id="levelmenu_bg"></div>

        <img class="bottomborder" height="6" id="levelmenu_bgb" src="/static/line.png" width="2000">

        <div class="movesdisplay" id="movesdisplay">
            <h1 id="movestext"></h1><br>
        </div>

        <div class="levelmenu" id="idlemenu">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Touch screen to start playing!</h1><br>
        </div>

        <div class="levelmenu" id="modemenu">
            <h2>Select game mode:</h2>
            <img id="single" onclick="clicked_alone()"   ontouchstart="clicked_alone();" ondragstart="return false" src="/static/alone.png">
            <img id="multi"  onclick="clicked_3player()" ontouchstart="clicked_3player();" ondragstart="return false" src="/static/3player.png"><br>
        </div>

        <div class="levelmenu" id="levelmenu">
            <h2>Select difficulty:</h2>
            <img id="easy"   ondragstart="return false" src="/static/easy.png">
            <img id="medium" ondragstart="return false" src="/static/medium.png">
            <img id="hard"   ondragstart="return false" src="/static/hard.png">
            <img id="master" ondragstart="return false" src="/static/master.png">
            <div id="noDifficulty" style="background-color: #ff00cc; padding: 12px; width:20%" ondragstart="return false">No Scramble</div>
            <br>
            <br>
            <img id="full" ondragstart="return false" src="/static/full.png">
            <br>
        </div>

        <div class="levelmenu" id="timeoutmenu">
            <h2>Timeout! Press continue to return to game:</h2>

            <h1 id="timeout_display">50</h1>
            <img id="continue" onclick="clicked_continue();" ontouchstart="clicked_continue();" ondragstart="return false" src="/static/continue.png"><br>
        </div>

        <div class="levelmenu" id="joinmenu"><br>

        <h2>Player X wants to play a 3-player game:</h2><br>
        <img id="ignorebutton" onclick="clicked_ignore()" ontouchstart="clicked_ignore()" ondragstart="return false" src="/static/ignore.png"> &nbsp;&nbsp;&nbsp;&nbsp;
        <img id="joinbutton" onclick="clicked_join()" ontouchstart="clicked_join()" ondragstart="return false" src="/static/join.png"></div>

        <div class="levelmenu" id="queuedmenu">
            <br>
            <br>
            <br>

            <h2>Another player is currently playing Groovik's cube.</h2>

            <h2>Please wait - you will be connected as soon as the cube is available.</h2><br>
            <br>
            <img src="/static/waiting.gif"><br>
        </div>

        <div class="levelmenu" id="waitingmenu">
            <br>
            <br>
            <br>

            <h1>Waiting for other players to join the game!</h1><br>
            <br>
            <img src="/static/waiting.gif"><br>
        </div>

        <div class="levelmenu" id="connectingmenu">
            <br>
            <br>
            <br>

            <h1>Connecting to Groovik's Cube's central brain.<br>
            Please wait..</h1><br>
            <br>
            <img src="/static/waiting.gif"><br>
        </div>

        <div class="bottomrow">
            <br>
            <br>
            <br>
            <img alt="Left" class="button left" id="buttonleft" ondragstart="return false" src="/static/button_left.png">
            <img alt="Right" class="button right" id="buttonright" ondragstart="return false" src="/static/button_right.png">

            <div class="clear"></div><br>
        </div>

		<div id="player-list">
			<ul>
				<li id="p1">Player 1</li>
				<li id="p2">Player 2</li>
				<li id="p3">Player 3</li>
			</ul>
		</div>

        <!-- <div class="instructions">
            <h3>This puzzle requires 3 people to solve.<br>
            There are 2 other stations. Each station controls one axis of the cube. Grab 2 friends and work cooperatively to gain control
            of the entire cube and solve!</h3><br>
        </div>

        <div class="footer" id="footer" >
            Groovik's Cube by GroovLabs<br>
            www.groovik.com<br>
        </div> -->

        <div class="debug" id="manual_rotate">
            Altitude: <input id="slide_alt" max="1000" min="-1000" onchange="CubeControl.update_view();" type="range" value="220"><br>
            Azimuth: <input id="slide_azi" max="1000" min="-1000" onchange="CubeControl.update_view();" type="range" value="0"><br>
        </div>

        <div class="debug" id="frameratediv">
            Framerate: <span id="framerate">...</span> fps
        </div>
    </div>


    <div id="admin_background">
      <div class="main_panel ui-state-default ui-corner-all" id="securitycode" >
        <br />
        <center><input class="text_box" type="text" id="number" name="num" /></center>
        <br /><br />
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(1);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">1</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(2);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">2</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(3);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">3</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(4);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">4</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(5);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">5</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(6);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">6</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(7);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">7</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(8);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">8</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(9);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">9</div></div>
        <div class="action_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_enter('admin');"> <div style="position:relative; top:50%; height:20px; margin-top:-23px">Admin</div> </div>
        <div class="action_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_enter('reload');"><div style="position:relative; top:50%; height:10px; margin-top:-23px">Reload</div></div>
      </div>
    </div>
</body>
</html>
