<!DOCTYPE html>

<html>
<head>
    <title>One cube to rule them all</title>
    <link href="/static/cube_style.css" rel="stylesheet" type="text/css">
    <link href="/static/panel.css" rel="stylesheet" type="text/css">
    <link href="static/jquery.ui191.css" media="all"  rel="stylesheet" type="text/css">

    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/jquery.svg.js"></script>
    <script src="/static/jquery.svganim.js" type="text/javascript"></script>
    <script src="/static/jquery.svgdom.js" type="text/javascript"></script>
    <script src="/static/jquery.svgfilter.js" type="text/javascript"></script>
    <script src="/static/jquery.svggraph.js" type="text/javascript"></script>
    <script src="/static/jquery.svgplot.js" type="text/javascript"></script>

    <script src="js/loadhookbox.js" type="text/javascript"></script>
    <script src="js/hookbox_setup.js" type="text/javascript"></script>
    <script src="js/checkie.js" type="text/javascript"></script>
    <script src="js/client_state.js" type="text/javascript"></script>
    <script src="js/control.js" type="text/javascript"></script>
    <script src="js/movefromsolved.js" type="text/javascript"></script>
    <script src="js/soundmanager2-nodebug-jsmin.js" type="text/javascript"></script>
    <script src="js/soundcontrol.js" type="text/javascript"></script>
    <script src="js/vector.js" type="text/javascript"></script>
    <script src="js/render.js" type="text/javascript"></script>
    <script src="js/cube_spinning.js" type="text/javascript"></script>
    <script src="js/timeouts.js" type="text/javascript"></script>
    <script src="js/menus.js" type="text/javascript"></script>
    <script src="js/numpad.js" type="text/javascript"></script>
    <script src="js/general.js" type="text/javascript"></script>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="container">
    	<div id="bar"></div>

        <div id="svgholder">
            <canvas height="1100" id="canvas" width="1100"></canvas>
        </div>

        <div class="movesdisplay" id="movesdisplay">
            <h1 id="movestext"></h1>
        </div>

        <div class="levelmenu" id="idlemenu">
            <br>
            <br>
            <br>
            <h1 class="blackTitle">Touch screen to play</h1>
        </div>

        <div class="levelmenu" id="modemenu">
            <h2>Select game mode:</h2>
            <img id="single" onclick="clicked_alone()"   ontouchstart="clicked_alone();" ondragstart="return false" src="/static/alone.png">
            <img id="multi"  onclick="clicked_3player()" ontouchstart="clicked_3player();" ondragstart="return false" src="/static/3player.png"><br>
        </div>

        <div class="levelmenu" id="levelmenu">
            <h1>Select difficulty:</h1>
            <input id="easy" type="button" class="blueButton decisionButton" ondragstart="return false" value="Easy">
            <input id="medium" type="button" class="blueButton decisionButton" ondragstart="return false" value="Medium">
            <input id="hard" type="button" class="blueButton decisionButton" ondragstart="return false" value="Hard">
            <br>
            <input type="button" class="button_back" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" value="Back">
        </div>

        <div class="levelmenu" id="joinmenu">
        	<h1>Multiplayer</h1>
        	<h2>Join game already in progress?</h2>
			<input type="button" class="blueButton decisionButton" onclick="clicked_send_join_request();" ontouchstart="clicked_send_join_request();" ondragstart="return false" value="Yes">
    		<input type="button" class="blueButton decisionButton" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" value="No">
        </div>

		<div class="levelmenu" id="votemenu">
			<h1>Multiplayer</h1>
        	<h2>Add player <span id="new-player"></span> to game?</h2>
			<input type="button" class="blueButton decisionButton" onclick="voteYes();" ontouchstart="voteYes();" ondragstart="return false" value="Yes">
    		<input type="button" class="blueButton decisionButton" onclick="voteNo();" ontouchstart="voteNo();" ondragstart="return false" value="No">
        </div>

		<div class="levelmenu" id="alertmenu">
			<h1></h1>
			<h2></h2>
		</div>

        <div class="levelmenu" id="queuedmenu">
        	<h1>Multiplayer</h1>
            <h2>Please wait <br>
            	your turn will start in
            	<span id="timeUntilTurn"></span>
            </h2>
            <br>
            <input type="button" class="button_back" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" value="Back">
        </div>

        <div class="levelmenu" id="waitingmenu">
            <h1>Multiplayer</h1>
            <h2>Waiting for other players let you join.</h2>
            <input type="button" class="button_back" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" value="Back">
        </div>

        <div class="levelmenu" id="connectingmenu">
            <br>

            <h1>Connecting to Groovik's Cube.<br>
            Please wait..</h1><br>
            <br>
            <img src="/static/waiting.gif"><br>
        </div>

        <div class="bottomrow">
            <br>
            <br>
            <br>
            <img alt="Left" class="button left" id="buttonleft" ondragstart="return false" src="/static/button_left.png">
            <img alt="Right" class="button right" id="buttonright" ondragstart="return false" src="/static/button_right.png">

            <div class="clear"></div><br>
        </div>

		<div id="turn_notice">
			turn div
		</div>

		<div id="difficulty_notice">
			Difficulty: <span id="difficulty">Hard</span>
		</div>

		<div id="game_timeout">
			game time
		</div>

		<div id="turn_timeout">
			Time remaining for your turn <span id="turn_time">100</span>
		</div>

		<img id="turn-token" src="/static/turn-token/cube_0.png" alt="">

		<div id="player-list">
			<ul>
				<li id="p1">Player 1</li>
				<li id="p2">Player 2</li>
				<li id="p3">Player 3</li>
			</ul>
		</div>

		<div id="bottomBar" class="orangeButton">
			<input type="button" id="button_about" 		 class="bottomBarButton" onclick="global.unimplemented();" ontouchstart="unimplemented();" ondragstart="return false" value="About">
			<input type="button" id="button_leaderboard" class="bottomBarButton" onclick="global.unimplemented();" ontouchstart="unimplemented();" ondragstart="return false" value="Leaderboard">

			<input type="button" id="button_perspective" class="bottomBarButton" onclick="set_initial_position();" ontouchstart="set_initial_position();" ondragstart="return false" value="View from my perspective">
    		<input type="button" id="button_quit" 		 class="bottomBarButton" onclick="clicked_quit();" ontouchstart="clicked_quit();" ondragstart="return false" value="Quit">
		</div>

        <div class="debug" id="manual_rotate">
            Altitude: <input id="slide_alt" max="1000" min="-1000" onchange="CubeControl.update_view();" type="range" value="220"><br>
            Azimuth: <input id="slide_azi" max="1000" min="-1000" onchange="CubeControl.update_view();" type="range" value="0"><br>
        </div>

        <div class="debug" id="frameratediv">
            Framerate: <span id="framerate">...</span> fps
        </div>
    </div>


    <div id="admin_background">
      <div class="main_panel ui-state-default ui-corner-all" id="securitycode" >
        <br />
        <center><input class="text_box" type="text" id="number" name="num" /></center>
        <br /><br />
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(1);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">1</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(2);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">2</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(3);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">3</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(4);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">4</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(5);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">5</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(6);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">6</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(7);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">7</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(8);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">8</div></div>
        <div class="number_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_write(9);">       <div style="position:relative; top:50%; height:20px; margin-top:-23px">9</div></div>
        <div class="action_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_enter('admin');"> <div style="position:relative; top:50%; height:20px; margin-top:-23px">Admin</div> </div>
        <div class="action_button ui-state-active ui-state-default ui-corner-all" onclick="Numpad.number_enter('reload');"><div style="position:relative; top:50%; height:10px; margin-top:-23px">Reload</div></div>
      </div>
    </div>
</body>
</html>
