<html>
<head>
    <title>Groovik's Cube Online</title>
    <style>
        body {
            background: black;
            font-family: verdana, arial, sans-serif;
            color: white;
            font-size: 15px;
        }

        a {
            color: #6666cc;
        }

        .container {
            width: 500px;
            margin: 0px auto;
        }

        h1 {
            text-align: center;
            margin: 40px 0;
            color: yellow;
        }

        b {
            font-size: 19px;
        }
    </style>
</head>
<body>
  <div class="container">
    <a href="cube_multimode?position=1&grey=0"><b>Cube Game</b></a><br><br> 
    <a href="admin_cube">Admin Interface</a><br>
    <a href="pacsci">Volume Control</a><br>
  </div>
    
</body>
</html>

