	#red, #green, #blue {
		width: 200px;
		margin: 15px;
	}

	#red .ui-slider-range { background: #ef2929; }
	#red .ui-slider-handle { border-color: #ef2929; }
	#green .ui-slider-range { background: #8ae234; }
	#green .ui-slider-handle { border-color: #8ae234; }
	#blue .ui-slider-range { background: #729fcf; }
	#blue .ui-slider-handle { border-color: #729fcf; }
    .debug {
        display:none;
    }

    body {
        font-family: verdana, sans-serif;
        background: black;
        color: #ffffdd;
        overflow-y: auto;
        overflow-x: hidden;
		}

    h1 {
        text-shadow: 0px 0px 5px #ff8888; 
    }

    #tabs {
      position: absolute;
      top : 10px;
      left: 10px;
      width: 40%;
      height:  97%;
      z-index: 20;
   }

    #container {
      position: absolute;
      top : 0px;
      right: 0px;
      width: 60%;
      text-align: center;
			margin: 0px auto;
		}

    .blankpixel {
      height:35px; 
      font-size: 15px;
    }

		.toprow{
			margin-left: auto;
			margin-right: auto;
			width: 1000px;
			position: relative;
			top: 0px;
		}
		.bottomrow{
			clear: both;
			margin-left: auto;
			margin-right: auto;
			top: -285px;
			position: relative;
			width: 600px;
		}
    .button {
 			margin-left:  4px;
			margin-right:  4px;
			z-index: 3;
       }
		.button.left{ float:left; }
		.button.right{ float:right; }
		.clear{ clear: both; }

		#canvas{
			width: 750px;
			height: 750px;
			position: relative;
			top: -140px;
			z-index:   -1;	
		}

		#manual_rotate {
			position: relative;
			top: -400px;
		}
        #screensaver {
            width: 200px;
            height: auto;
        }
        .bigbutton {
            vertical-align:middle;
        }
